/* Start FrameWork */
:root {
    --main-color: #fff;
    --hover-color: #beae59;
    --background-color: #eee;
    --main-padding: 100px 0;
    --main-transition: 3s;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    margin: 0;
    color: #444;
    font-size: 12px;
    line-height: 26px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
p {
    margin: 0;
}
a {
    position: relative;
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
i {
    color: var(--hover-color);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    margin: 50px 0;
    padding: 50px 0;
    position: relative;
}

/* Start Project Static */
p.price{
    color: #e12f2f;
    font-size: 14px;
    font-weight: 900;
}
p.price span{
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 6px;
    text-decoration: line-through;
}
.rating{
    color: #ff9600;
    justify-content: flex-start;
}
.rating svg{
    margin: 0 0 0 6px;
}
.rating svg.active{
    color: var(--hover-color);
}
.title-section{
    font-size: 34px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    margin: 0 0 20px 0;
}
.title-section p{
    padding: 5px 0;
    display: inline-block;
    color: var(--hover-color);
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.title-section p span{
    color: #444;
    font-weight: 400;
}
.button a{
    position: relative;
    display: inline-block;
    width: 202px;
    height: 42px;
    text-align: center;
    align-content: center;
    background-color: var(--hover-color);
}

.button a::before,
.button a::after{
    content: '';
    opacity: 0;
    position: absolute;
    transition: all 0.6s ease-in-out;
}
.button a::before{
    top: 50%;
    bottom: 50%;
    left: 4px;
    right: 4px;
    border-left: solid 1px var(--main-color);
    border-right: solid 1px var(--main-color);
}
.button a::after{
    top: 4px;
    bottom: 4px;
    left: 50%;
    right: 50%;
    border-top: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
}
.button a:hover:before {
    opacity: 1;
    top: 4px;
    bottom: 4px;
}
.button a:hover:after {
    opacity: 1;
    left: 4px;
    right: 4px;
}

/* End FrameWork */

/* Start Header */
.header {
    background-color: var(--background-color);
}
/* header-top */
.header .header-top {
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
}
.header .header-top img {
    width: 16px;
    margin: 0 4px 0 0;
}
.header .header-top .left,
.header .header-top .right {
    display: flex;
    align-items: center;
}
.header .header-top .left>div,
.header .header-top .right>div {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.header .header-top .left .language>div {
    display: flex;
    align-items: center;
}
.header .header-top .left svg {
    margin: 0 10px;
}
.header .header-top .right {
    justify-content: flex-end;
}
.header .header-top .right>div {
    margin-right: 0;
}
.header .header-top .right svg {
    font-size: 20px;
    margin: 0 8px 0 0;
}
.header .header-top .right span {
    font-weight: 700;
}
.header .header-top .right .cheat {
    justify-content: flex-end;
}
/* header-middle */
.header .header-middle .search {
    padding: 0;
}
.header .header-middle .search .form {
    padding: 0 0 0 20px;
    background-color: var(--main-color);
    border: 1px solid var(--hover-color);
}
.header .header-middle .search .form svg {
    color: #999;
    font-size: 14px;
    padding-right: 10px;
}
.header .header-middle .search .form input {
    border: none;
    padding: 0 10px;
    width: -webkit-fill-available;
}
.header .header-middle .search .form button {
    height: 42px;
    border: none;
    color: var(--main-color);
    min-width: 90px;
    font-weight: 700;
    background-color: #beae59;
}
.header .header-middle .search .button {
    width: 35px;
    height: 35px;
    background-color: var(--hover-color);
    border: none;
    color: var(--main-color);
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}
.header .header-middle .shipping {
    position: relative;
    height: -webkit-fill-available;
}
.header .header-middle .shipping::before {
    content: "";
    position: absolute;
    left: 5%;
    width: 1px;
    height: 80%;
    background: #ddd;
}
.header .header-middle .shipping img {
    width: 35px;
    margin: 0 10px 0 0;
}
.header .header-middle .shipping .text h6 {
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px 0 0;
    font-family: "Lobster";
}
.header .header-middle .shipping .text p {
    line-height: 23px;
}
.header .header-middle .cart {
    color: var(--main-color);
    padding: 10px 0;
    text-align: center;
    align-content: center;
    height: -webkit-fill-available;
    background-color: var(--hover-color);
}
.header .header-middle .cart .items {
    margin: 10px;
}
.header .header-middle .cart .title {
    text-transform: uppercase;
    font-weight: 700;
}
@media(width < 768px) {

    .header .header-middle .logo,
    .header .header-middle .shipping {
        border: 1px solid var(--hover-color);
        margin: 10px 0;
        padding: 10px 0;
        background-color: var(--main-color);
    }

    .header .header-middle .shipping::before {
        display: none;
    }

    .header .header-middle .cart {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 10px 0;
    }
}
.header .header-bottom {
    background-color: rgba(0, 0, 0, 0.64);
}
.header .header-bottom .bars svg {
    color: var(--main-color);
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}
.header .header-bottom .menu ul {
    justify-content: flex-start;
}
.header .header-bottom .menu ul li .home {
    background-color: #beae59;
}
.header .header-bottom .menu ul li a {
    height: 50px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
}
.header .header-bottom .hot .button {
    border: none;
    height: 50px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 700;
    padding: 14px 20px;
    background-color: transparent;
}
.header .header-bottom .icons {
    align-content: center;
    background-color: rgba(41, 42, 43, 0.64);
}
.header .header-bottom .icons ul li {
    margin: 0 10px;
}
.header .header-bottom .icons ul li a {
    font-size: 14px;
    color: #b4b4b4;
}

/* End Header */

/* Start Landing */
.landing {
    position: relative;
}
.landing .slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
.landing .slide .content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing .slide .content .small-title {
    font-size: 60px;
    font-weight: 700;
    margin-right: 35px;
    color: var(--hover-color);
}
.landing .slide .content .small-desc {
    color: var(--main-color);
    font-size: 20px;
    max-width: 200px;
    text-align: left;
    font-weight: 700;
    line-height: 24px;
    padding-left: 40px;
    letter-spacing: 1px;
    border-left: 1px solid #ddd;
}
.landing .slide .content .big-title {
    margin: 0;
    font-size: 100px;
    line-height: 1.1;
    font-weight: bold;
    color: var(--main-color);
}
.landing .slide .content .button {
    font-size: 20px;
    margin: 10px 0 0 0;
}
.landing .owl-nav button.owl-next,
.landing .owl-nav button.owl-prev {
    position: absolute;
    margin-top: 10px;
    top: 50%;
    left: 10%;
    font-size: 100px;
    color: var(--main-color);
    transform: translate(-50%, -50%);
}
.landing .owl-nav button.owl-next {
    left: unset;
    right: 10%;
}
.landing .owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.landing .owl-theme .owl-dots .owl-dot span {
    background-color: var(--main-color);
}
.landing .owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--hover-color);
}
@media(width < 768px) {
    .landing .slide .content .big-title {
        font-size: 50px;
    }

    .landing .slide .content .small-title {
        font-size: 25px;
    }

    .landing .slide .content .small-desc {
        max-width: 100%;
        font-size: 14px;
        padding-left: 10px;
    }
}
/* End Landing */

/* Start Section Deals Days */
.deals-day{
    position: relative;
    margin: -60px 0 0 0;
    padding: 0 0 100px 0;
    background-color: var(--background-color);
}
.deals-day .container{
    z-index: 1;
    position: relative;
}
.deals-day .deals {
    color: var(--main-color);
    padding: 0 10px 0 10px;
    background-color: var(--hover-color);
}
.deals-day .deals .title {
    padding: 40px 0;
    font-size: 18px;
    line-height: 1.1;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}
.deals-day .deals .title::after {
    content: "";
    position: absolute;
    height: 2px;
    left: -12px;
    right: -12px;
    bottom: 10px;
    background-color: var(--main-color);
}
.deals-day .deals .title span {
    font-weight: 300;
}
.deals-day .deals .desc {
    line-height: 20px;
    margin: 0 0 20px 0;
}
.deals-day .deals .images img{
    float: left;
    width: 50%;
}
.deals-day .deals .images li {
    width: 50%;
    float: left;
}
.deals-day .slider {
    position: relative;
    padding: 30px 0 10px 0;
    background-color: var(--main-color);
}
.deals-day .slide .timer {
    position: absolute;
    left: 10px;
    top: 10px;
    text-transform: uppercase;
}
.deals-day .slide .countdown {
    width: 55px;
    height: 55px;
    padding-top: 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    text-align: center;
}
.deals-day .slide .countdown:last-of-type{
    border-bottom: 1px solid #ddd;
}
.deals-day .slide .countdown .time {
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--hover-color);
}
.deals-day .slide .countdown .text{
    font-size: 10px;
    line-height: 1;
}
.deals-day .slide .content .name{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.deals-day .slide .content .cash{
    color: #e12f2f;
    font-size: 14px;
    font-weight: bold;
}
.deals-day .slide .content .cash span{
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 10px;
    text-decoration: line-through;
}
.deals-day .slide .content .label{
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--main-color);
    background-color: #03a9f4;
}
.deals-day .slide .content .label::before{
    content: "";
    position: absolute;
    left: 0px;
    top: calc(100% + 1px);
    transform: rotate(90deg);
    border-bottom: 5px solid #03a9f4;
    border-right: 8px solid transparent;
}
.deals-day .popular{
    border-left: 1px solid #ddd;
    background-color: var(--main-color);
}
.deals-day .popular .title{
    font-size: 26px;
    font-weight: 900;
    padding: 20px 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}
.deals-day .popular .title span{
    font-weight: 300;
}
.deals-day .popular .products .product{
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}
.deals-day .popular .products .product img{
    width: 80px;
    margin: 0 10px 0 0;
    border: 1px solid #ddd;
}
.deals-day .popular .product .name{
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0 5px 0;
    text-transform: uppercase;
}

@media (width < 992px) {
    .deals-day .popular{
        margin: 20px 0 0 0;
    }
    .deals-day .popular .products .d-center{
        justify-content: flex-start;
    }
}
@media (width < 768px) {
    .deals-day .deals .images img{
        width: 25%;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
}

/* Start Banner */
.banner .col-4 {
    padding: 0;
}
.banner img{
    width: 100%;
}
/* End  Banner */

/* Start Featured Products */
.featured-products .slide{
    text-align: center;
    position: relative;
    border: 1px solid var(--background-color);
}
.featured-products .slide .image{
    height: 400px;
    position: relative;
}
.featured-products .slide .info p{
    line-height: 22px;
        font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.featured-products .slide .group{
    color: #999;
    font-size: 20px;
    padding: 10px 0;
    border-top: 1px solid;
}
.featured-products .slide .group svg{
    font-size: 20px;
    color: #999;
}
.featured-products .slide .group a{
    width: 60%;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    color: var(--hover-color);
}
/* End Featured Products */

/* Start Information Shipping */
.information{
    width: 90%;
    margin: 0 auto;
}
.information .box{
    display: flex;
    padding: 22px 0px;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    background-color: #49ccf3;
}
.information .box img{
    width: 95px;
    height: 95px;
    object-fit: contain;
    -o-object-fit: contain;
}
.information .box .text{
    margin-left: 10px;
    line-height: 18px;
}
.information .box .text .h4{
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.information .box.arrows{
    background-color: #13b5e6;
}
.information .box.arrows::before,
.information .box.arrows::after{
    content: "";
    position: absolute;
    top: 0px;
    z-index: 1;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
.information .box.arrows::before{
    left: -30px;
    border-right: 30px solid #13b5e6;
}
.information .box.arrows::after{
    right: -40px;
    border-left: 40px solid rgb(19, 181, 230);
}
@media (width < 992px) {
    .information .box.arrows::before,
    .information .box.arrows::after{
        display: none;
    }
}
@media (width < 768px) {
    .information .row{
        display: block;
    }
    .information .box{
        justify-content: left;
    }
}
/* End Information Shipping */

/* Start Customer Opinion */
.customer{
    height: 250px;
    color: var(--main-color);
    background-image: url(../img/home-slider.png);
}
.customer .box img{
    border: 2px solid #ddd;
}
.customer .box .text{
    width: 70%;
    height: 130px;
    position: relative;
    padding: 0 0 0 50px;
    align-content: center;
    background-color: #000;
}
.customer .box .text::before{
    position: absolute;
    top: 10%;
    z-index: 1;
    content: "";
    left: -18px;
    display: block;
    border-width: 9px;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
}
.customer .box .text svg{
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 50px;
}
@media (width < 768px) {
    .customer .box .text svg{
        display: none;
    }
}
/* End Customer Opinion */

/* Start Section Categories */
.categories{
    background-color: var(--background-color);
}
.categories img{
    width: 100%;
    padding: 0 0 10px 0;
}
.categories .col{
    padding: 0;
    margin: 0 4px;
}
.categories .first .image1 img{
    height: 400px;
}
.categories .first .image2 img{
    height: 200px;
}
.categories .second .text{
    height: 200px;
    text-align: center;
    background-color: var(--background-color);
}
.categories .second .text .des{
    line-height: 16px;
}
.categories .second .text .button a{
    width: 202px;
    height: 42px;
    display: block;
    margin: 10px 0;
    font-weight: 700;
    line-height: 42px;
    place-self: center;
    background-color: var(--hover-color);
}
.categories .second img{
    height: 400px;
}
.categories .three img{
    height: 300px;
}
/* End Section Categories */

/* Start Section Blogs */
.blog .item{
    margin: 20px 0 0 0;
}
.blog .item .text{
    text-align: justify;
}
.blog .item .text .name{
    margin: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.blog .item .text .desc{
    line-height: 20px;
}
.blog .item .text .button{
    text-align: left;
    justify-content: left;
    color: var(--hover-color);
}
.blog .item .text .button a{
    margin: 0 10px 0 0;
    background-color: transparent;
}
/* End Section Blogs */

/* Start Featured brands */
.brands .col-3,
.brands .col-6{
    padding: 0;
}
.brands .row>div{
    max-height: 500px;
    background-color: var(--background-color);
}
.brands .left>div,
.brands .right>div{
    max-height: calc(100% / 3);
}
.brands .left .title-section{
    font-size: 20px;
    align-content: center;
    background-color: var(--hover-color);
}
.brands .left .title-section p{
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
/* End Featured brands */

/* Start Section New letter */
.new-letter{
    padding: 20px 0;
    margin: 50px 0 0 0;
    background-color: var(--background-color);
}
.new-letter .text .h4{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
.new-letter .text .number a{
    font-size: 16px;
    margin: 0 0 0 10px;
    color: var(--hover-color);
}
.new-letter .mail .form{
    display: flex;
    position: relative;
    align-items: center;
    border: 6px solid var(--hover-color);
}
.new-letter .mail .form svg{
        font-size: 20px;
    margin: 0 10px;
}
.new-letter .mail .form input{
    border-style: none;
}
/* End Section New letter */

/* Start Footer */
.footer{
    position: relative;
    padding: 0 40px 0 0;
    background-size: cover;
    background-position: center;
    background-image: url(../img/footer-middle-bg.png);
}
.footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #000000ba;
}
.footer .row >div{
    padding: 20px;
    position: relative;
}
.footer .title{
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}
.footer .title::before{
        content: '';
    width: 40px;
    height: 2px;
    background: #beae59;
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer ul li svg{
    color: var(--main-color);
}
.footer ul li a{
    margin: 0 0 0 10px;
    text-transform: capitalize;
}
.footer .contact{
    padding: 10px;
    background-color: #beae59b5;
}
.footer .contact-me a{
    font-size: 25px;
    margin: 0 10px;
}
.footer .copyright{
    padding: 20px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.footer .copyright a{
    color: var(--hover-color);
}
/* End Footer */